<h1>API Documentation</h1>

<h2>Offers</h2>
<ul>
	<li>/offers/get: method to get all the offers defined</li>
	<li>/offer/{offer_id}/get: method to get the details of a specific offer</li>
	<li>/offer/add: method to create a new offer</li>
	<li>/offer/{offer_id}/edit: method to edit the details of a specific offer</li>
	<li>/offer/{offer_id}/delete: method to delete a specific offer</li>
</ul>

<h2>Users</h2>
<ul>
	<li>/user/{offer_id}/get: method to get the details of a specific user</li>
	<li>/user/{offer_id}/get-token: method to get the token of a specific user</li>
	<li>/user/add: method to create a new user</li>
	<li>/user/{offer_id}/edit: method to edit the details of a specific user</li>
	<li>/user/{offer_id}/delete: method to delete a specific user</li>
	<li>/users/get: method to get all the users defined</li>
</ul>

<h2>Contacts</h2>
<ul>
	<li>/contact/add: method to create a new contact</li>
	<li>/contact/{contact_id}/delete: method to delete a specific contact</li>
	<li>/contacts/{user_id}/get: method to get all the contacts of a specific user</li>
</ul>

<h2>Tokens</h2>
<ul>
	<li>/token/{token}/get: method to get the details of a token</li>
	<li>/token/add: method to create a new token</li>
</ul>

<h2>Projects</h2>
<ul>
	<li>/projects/{user_id}/get: method to get all the projects of a specific user</li>
	<li>/project/{project_id}/get: method to get the details of a specific project</li>
	<li>/project/add: method to create a new project</li>
	<li>/project/{project_id}/edit: method to edit the details of a specific project</li>
	<li>/project/{project_id}/delete: method to delete a specific project</li>
</ul>

<h2>Videos</h2>
<ul>
	<li>/videos/user/{user_id}/get: method to get all the videos of a specific user</li>
	<li>/videos/project/{project_id}/get: method to get all the videos of a specific project</li>
	<li>/video/{video_id}/get: method to get the details of a specific video</li>
	<li>/video/add: method to create a new video</li>
	<li>/video/{video_id}/edit: method to edit the details of a specific video</li>
	<li>/video/{video_id}/delete: method to delete a specific video</li>
</ul>

<h2>Comments</h2>
<ul>
	<li>/comments/{video_id}/get: method to get all the comments of a specific video</li>
	<li>/comment/{comment_id}/get: method to get the details of a specific comment</li>
	<li>/comment/add: method to create a new comment</li>
	<li>/comment/{comment_id}/edit: method to edit the details of a specific comment</li>
	<li>/comment/{comment_id}/delete: method to delete a specific comment</li>
</ul>
